<nav class="navbar navbar-expand-sm navbar-light bg-dark ">
  <a class="navbar-brand   text-white" [routerLink]="['/inicio']" routerLinkActive="router-link-active"><i class="fa fa-home" aria-hidden="true"></i> 100 mexicanos dijeron</a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
  
    
      
      <li class="nav-item dropdown"  > 
        <a class="nav-link dropdown-toggle text-white"  [routerLink]="['/jugador']" routerLinkActive="router-link-active" id="dropdownId"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user\" aria-hidden="true"></i> Jugador </a>
        <div  class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" [routerLink]="['/jugador']" routerLinkActive="router-link-active"><i class="fa fa-user" aria-hidden="true"></i> jugar</a>
        
        </div>
      </li>
    
      <li class="nav-item dropdown"  >
        <a class="nav-link dropdown-toggle  text-white"   [routerLink]="['/admin']" routerLinkActive="router-link-active" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrador </a>
        <div  class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item"  [routerLink]="['/crearusuario']" routerLinkActive="router-link-active"><i class="fa fa-user-plus" aria-hidden="true"></i> Crear Usuario</a>
          <a class="dropdown-item"  [routerLink]="['/crearpartida']" routerLinkActive="router-link-active"><i class="fa fa-user-plus" aria-hidden="true"></i> Crear partida</a>
        
        </div>
      </li>
    <div>
      <a class="nav-link dropdown-toggle  text-white" [routerLink]="['/login']" routerLinkActive="router-link-active" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">login </a>
    </div>
    </ul>
    <form class="form-inline my-2 my-lg-0">
   
      <button class="btn btn-outline-warning my-2 my-sm-0" *ngIf="sesion()" (click)="salir()">Salir</button>
    </form>
  </div>

</nav>